<html>
  <head>
    <title>Papercut Example</title>
  </head>
  <body>
    <h1> Papercut! </h1>
    <form action='/test/photoupload' method='post' enctype="multipart/form-data">
      <input type='file' name='avatar' />
      <button>Upload</button>
    </form>
  </body>
</html>
