<style media="screen">
  #tiny-logo{

  }
</style>

<div class="col s12">
   <h5>Biceps Rating</h5>
   <h6>Click Logo to Rate User</h6>
   <img id="tiny-logo" src="/assets/images/TinyLogo.png" alt="TinyLogo"/>
   <br><br><br><br><br>
</div>

<script type="text/javascript">

var $tinyLogo = $('#tiny-logo')
$tinyLogo.on('click').append($tinyLogo)


</script>
