<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>
<input id="search-box" class="search-box-class" type="text" placeholder="Search for a place">
<div id="map"></div>


<script>
  // This example requires the Places library. Include the libraries=places
  // parameter when you first load the API. For example:
  // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

  function initMap() {

    // map for santa monica
    var santaMonica = {lat: 34.024212, lng: -118.496475}
    var spotBudEvents = ['ChIJOymuApikwoARHpp1o3BWzlY','ChIJx92--cikwoARw22QhUijGmc','ChIJZcs3zNCkwoARjU42dRrVZfM','ChIJY9TAMwO7woARfm6h0NW_ycI','ChIJIXI2IdCkwoAR1jqp9T02htA','ChIJjYpkBmmjwoAR2Hft4wzsld0','ChIJGSZtRhO7woAR3OAfz9Ub3_U','ChIJ8z1Qsd26woAR_kIW46rb_8o']

    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: -33.8688, lng: 151.2195},
      zoom: 13
    });

    if (navigator.geolocation){
      navigator.geolocation.getCurrentPosition(function(position){
        var currentPosition = { lat: position.coords.latitude, lng: position.coords.longitude}
        infoWindow.setPosition(currentPosition)
        infoWindow.setContent('This is where you are')
        infoWindow.open(map)
        map.setCenter(currentPosition)
      })
    }



    var infoWindow = new google.maps.InfoWindow()

    var service = new google.maps.places.PlacesService(map);

    // creates search box, puts the input into the map ui and sets up auto complete
    var inputBox = document.getElementById('search-box')
    var searchBoxGoogle = new google.maps.places.SearchBox(inputBox)
    map.controls[google.maps.ControlPosition.TOP_LEFT].push(inputBox)
    // makes autocomplete suggestions specific to the users location (map)
    map.addListener('bounds_changed', function() {
      searchBoxGoogle.setBounds(map.getBounds());
    });

    searchBoxGoogle.addListener('places_changed', function(){
      var places = searchBoxGoogle.getPlaces()
      if (places.length === 0){
        console.log('no places match your search of', $(inputBox).val())
        return
      }
      places.forEach(function(place){
        console.log(place.name)
        var marker = new google.maps.Marker({
          map: map,
          title: place.name,
          position: place.geometry.location
        })
        google.maps.event.addListener(marker, 'click', function(){
          infoWindow.setContent(place.name)
          infoWindow.open(map, this)
        })
      })
      console.log(places.length, 'places found with search input', $(inputBox).val())

    })


    // Nearby Search Example
    // service.nearbySearch({
    //   location: santaMonica,
    //   radius: 1000,
    //   keyword: 'Vons'
    //
    // }, function(results, status){
    //   // console.log(results.length)
    //   if (status === google.maps.places.PlacesServiceStatus.OK) {
    //     results.forEach(function(el){
    //       var placeLocation = el.geometry.location
    //       var newMarker = new google.maps.Marker({
    //         map: map,
    //         position: el.geometry.location
    //       })
    //       google.maps.event.addListener(newMarker, 'click', function(){
    //         infoWindow.setContent(el.name)
    //         infoWindow.open(map, this)
    //       })
    //     })
    //   }
    // })

    // marker colors - blue : http://maps.google.com/mapfiles/ms/icons/blue-dot.png
    // green - http://maps.google.com/mapfiles/ms/icons/green-dot.png

    spotBudEvents.forEach(function(id){
      service.getDetails({
        placeId: id
      }, function(place, status){
        if (status === google.maps.places.PlacesServiceStatus.OK) {
          var marker = new google.maps.Marker({
            map: map,
            position: place.geometry.location,
            icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'
          })
          google.maps.event.addListener(marker, 'click', function(){
            infoWindow.setContent(place.name + '<br>' + place.formatted_address)
            infoWindow.open(map, this)
          })
        }
      })
    })



    service.getDetails({
      placeId: 'ChIJGQCRws6kwoARq_Uj_7UKF7Q'
    }, function(place, status) {
      if (status === google.maps.places.PlacesServiceStatus.OK) {
        var marker = new google.maps.Marker({
          map: map,
          position: place.geometry.location
        })
        google.maps.event.addListener(marker, 'click', function() {
          // Here were manipulating the place object to diplay the place name provided by google. We are also adding a list to the message box
          infoWindow.setContent('<div class="info-window-box"><strong>' + place.name + '</strong><br>' +
            'Place ID: ' + place.name + '<br>' + place.formatted_address + '</div>' + '<ul><li id="field-hockey-details">Field Hockey Fun</li><li>Volleyball Game</li><li>Squats at Muscle Beach</li><li>Come play sand flag football by Jamie</li><li>Workout Swimming</li><li>Workout Swimming</li><li>Workout Swimming</li><li>Workout Swimming</li><li>Workout Swimming</li><li>Workout Swimming</li><li>Workout Swimming</li><li>Workout Swimming</li><li>Workout Swimming</li><li>Workout Swimming</li><li>Workout Swimming</li><li>Workout Swimming</li><li>Workout Swimming</li><li>Workout Swimming</li><li>Workout Swimming</li><li>Workout Swimming</li><li>Workout Swimming</li><li>Workout Swimming</li><li>Workout Swimming</li></ul>');
          infoWindow.open(map, this);
          // Here we are adding css to the info window that google provides where we want to show events to change the height of the info box and make it scrollable. We want to show five events (lis) before scrolling
          $('.gm-style-iw').css({'max-height': '250px'})
          var my_li = $('#field-hockey-details');
          var modal = $('#modal1')
          my_li.on('click', function(){
            console.log('my li clicked!!!', my_li)
            modal.openModal()
            // to close a modal
            //   $('#modal1').closeModal()
          })
        });
      }
    });
  }
</script>
