<style>
body{
  color: grey;
  font-family: Moon;
  background-color: black;
}
li {
  list-style-type: none;
}
.row {
  margin-bottom: 10px;
}
.row .col.s12 {
  width: 625px !important;
  height: 500px !important;
}
.gm-style .gm-style-iw {
  width: 680px !important;
}
.container {
  margin-left: -5rem;
  margin-right: -40rem;
}
div#materialize-lean-overlay-2.lean-overlay {
  opacity: 0;
  display: none;
}
.lean-overlay {
    position: fixed;
    z-index: 999;
    top: -100px;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    opacity: 0;
    background-color: none;
    background: none;
    display: none;
}

h4 {
  color: #ff6e40;
}
</style>



<!-- ~~~~~~~~~~~~~ NAVBAR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="navbar-fixed" id="map-nav">
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="/profile">Profile</a></li>
    <li class="divider"></li>
    <li><a id="edit-profile" href="/profile">Settings</a></li>
    <li class="divider"></li>
    <li><a href="/map">Map</a></li>
    <li class="divider"></li>
    <li><a href="/logout">Logout</a></li>
    <li class="divider"></li>
  </ul>
    <nav>
    <div class="nav-wrapper">
        <a href="/map"><img src="/assets/images/Logo-text-white.png" class="nav-img2"></a>
      <ul id="nav-mobile" class="right">
        <!-- Directions Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#modal3">Using SpotBuds</a>
        <!-- Modal Structure -->
        <div id="modal3" class="modal">
          <div class="modal-content" style="color: gray; max-height: 400px; overflow-y: scroll !important;">
            <h4>Find a Spot and meet some Buds!</h4>
            <p>
              <h5>Welcome, <%= user.facebook.name || user.local.name%></h5>
              SpotBuds provides its users, or Buds, with the opportunity to expand their fitness horizons instantly by finding and creating oppotunities to exercise with others on the day they want to exercise. Users can both create and find events that align with their interests. If you like yoga, you can search yoga studios in your area. If you like volleyball, you can find events at the beach!
              <h6>How does it work?</h6>
              Creating an Event
              1. Use the search bar on the map to search for a location near you.
              2. If the Spot that you are looking for does not have an event, a red pin will drop. Click it and then click 'Add Event' to create a new event!
              3. When creating an event, add a title, description, and specific location telling Buds where you'll be at, what time the event will happen, and how many Buds you want to join you. **You can only make events that take place on the day you are searching!**
              4. Submit your event and check back for RSVPs!
              RSVP to an Event
              1. Use the search bar on the map to search for a location near you.
              2. If the Spot you are looking for has an event, you will see a blue pin. Click on it to see a series of events that will happen that day.
              3. Choose an event, make note of the time, and if you can go, RSVP with either Going or Maybe. Once you click, you're committed, so make sure you go!
              4. Have fun at your event!
            </p>
          </div>
          <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">I got it!</a>
          </div>
        </div>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><%= user.local.name || user.facebook.name %><i class="material-icons right">perm_identity</i></a></li>
      </ul>
    </div>
  </nav>
</div>

<!-- Modal for showing rsvp user profiles -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4 id="rsvp-modal-title" style="text-align: center;"></h4>
    <ul class="collection" id="rsvp-ul"></ul>
  </div>
  <div class="modal-footer">
    <a style="color: #ff6e40;" href="#!" id="close-button" class="modal-action modal-close waves-effect btn-flat">Close</a>
  </div>
</div>


<input id="search-box" class="search-box-class" type="text" placeholder="Search for a place">
<div id="map"></div>


<!-- Modal for already dropped pin -->
<div id="modal2" class="modal">
  <div class="modal-content" style="overflow-x: hidden;">
    <h4 style="text-align: center;">Create an Event</h4>
    <p style="text-align: center;">Please Enter in all information</p>


    <div class="row" style="margin-bottom: -10px !important;">
    <form class="col s12" style="margin-bottom: -400px !important;">
      <div class="row">
        <div class="input-field col s12">
          <input type="text" id="event-title-for-db-pin" class="validate">
          <label for="event-title-for-db-pin">Add a Title</label>
        </div>

      </div>
    </form>
    </div>

    <div class="row" style="margin-bottom: -10px !important;">
    <form class="col s12" style="margin-bottom: -350px !important;">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="description-text-input-for-db-pin" class="materialize-textarea"></textarea>
          <label for="description-text-input-for-db-pin">Add a description</label>
        </div>
      </div>
    </form>
  </div>

  <div class="row" style="margin-bottom: -10px !important;">
  <form class="col s12" style="margin-bottom: -320px !important;">
    <div class="row">
      <div class="input-field col s12">
        <input type="text" id="specific-location-text-for-db-pin" class="validate">
        <label for="specific-location-text-for-db-pin">Give a specific location:</label>
        <container class="container" id="event-time-text" style="float: right; margin-right: -45px; margin-top: -5px; margin-bottom: 10px;">
        <select id="hour-for-db-pin" class="browser-default" style="max-width: 68px; max-height: 30px; display: inline;">
          <option value="" disabled selected>Hour</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select>
        :
        <select id="mins-for-db-pin" class="browser-default" style="max-width: 68px; max-height: 30px; display: inline;">
          <option value="" disabled selected>Mins</option>
          <option value="00">00</option>
          <option value="15">15</option>
          <option value="30">30</option>
          <option value="45">45</option>
        </select>
        <select id="am-pm-for-db-pin" class="browser-default" style="max-width: 58px; max-height: 30px; display: inline; margin-left: 4px;">
          <option value="AM">AM</option>
          <option value="PM">PM</option>
        </select>
            <span>Select a time</span>
      </container>
      <br>
      <br>
      <container class="container" id="event-time-text" style="float: right; margin-right: -45px; margin-top: -5px;">
        <select id="how-many-db-pin" class="browser-default" style="max-width: 68px; max-height: 30px; display: inline; margin-left: 4px;">
          <option value="" disabled selected>Buds</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6+">6+</option>
        </select>
            <span>Number of buds needed</span>
      </container>
      </div>
    </div>
  </form>
  </div>






  </div>
  <br>
  <div class="modal-footer">
    <a style="color: #ff6e40;" href="#!" id="create-event-for-db-pin" class="modal-action modal-close waves-effect btn-flat">Create Event</a>
  </div>
</div>

<script>
var currentUserId = '<%= user._id %>'
var currentUserName = '<%= user.local.name || user.facebook.name %>'
  // This example requires the Places library. Include the libraries=places
  // parameter when you first load the API. For example:
  // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

  function initMap() {

    // map for santa monica
    var santaMonica = {lat: 34.024212, lng: -118.496475}
    // 'ChIJOymuApikwoARHpp1o3BWzlY','ChIJx92--cikwoARw22QhUijGmc','ChIJZcs3zNCkwoARjU42dRrVZfM','ChIJY9TAMwO7woARfm6h0NW_ycI','ChIJIXI2IdCkwoAR1jqp9T02htA','ChIJjYpkBmmjwoAR2Hft4wzsld0','ChIJGSZtRhO7woAR3OAfz9Ub3_U','ChIJ8z1Qsd26woAR_kIW46rb_8o'
    var spotBudEvents = []
    var searchMarkers = []
    var allMarkers = []


    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 34.052235, lng: -118.243683},
      zoom: 13
    });

    if (navigator.geolocation){
      navigator.geolocation.getCurrentPosition(function(position){
        var currentPosition = { lat: position.coords.latitude, lng: position.coords.longitude}
        infoWindow.setPosition(currentPosition)
        infoWindow.setContent('YOU ARE CURRENTLY HERE')
        infoWindow.open(map)
        map.setCenter(currentPosition)
      })
    }

    var infoWindow = new google.maps.InfoWindow()

    var service = new google.maps.places.PlacesService(map);

    var conDiv = $('<div id="con-div"></div>')
    // creates search box, puts the input into the map ui and sets up auto complete
    var inputBox = document.getElementById('search-box')
    var searchBoxGoogle = new google.maps.places.SearchBox(inputBox)
    map.controls[google.maps.ControlPosition.TOP_LEFT].push(inputBox)
    // makes autocomplete suggestions specific to the users location (map)
    map.addListener('bounds_changed', function() {
      searchBoxGoogle.setBounds(map.getBounds());
    });

    searchBoxGoogle.addListener('places_changed', function(){
      if (searchMarkers.length > 0) {
        searchMarkers.forEach(function(location){
          location.setMap(null)
          //console.log('this is the search markers array', searchMarkers)
          searchMarkers = []
          //console.log(searchMarkers)
        })
      }

      var places = searchBoxGoogle.getPlaces()
      if (places.length === 0){
      //  console.log('no places match your search of', $(inputBox).val())
        return
      }
      places.forEach(function(place){
        //console.log(place.name)
        if (spotBudEvents.includes(place.place_id)) {
          //console.log('already on map', place.name)
        } else {
          var marker = new google.maps.Marker({
            map: map,
            title: place.name,
            position: place.geometry.location
          })

          searchMarkers.push(marker)
          google.maps.event.addListener(marker, 'click', function(){
            selectedPlace = place
            console.log(place.place_id, 'this is place')
            $.ajax({
              method: 'get',
              url: '/spots/' + selectedPlace.place_id
            })
            .done(function(data){
              console.log(data)
              if (data.spot) {
                console.log('has events')
                var mainUl = $('<ul id="ulul"></ul>')
                data.spot.spot_events.forEach(function(spEvent){
                  console.log(spEvent, 'this is the element')
                  mainUl.html('')
                    for (var j = data.spot.spot_events.length - 1; j >= 0; j -= 1) {
                      if (data.spot.spot_events[j].going_buds_users.includes(currentUserId)) {
                        mainUl.append($('<li class="row"> <div style="max-width: 625px; margin-bottom: -258px;" class="col s12 m6"> <div class="card blue-grey darken-1"> <div style="height: 245px;" class="card-content white-text"> <!-- How Many Buds Integer --> <i style="float: right; margin-top: 176px;" id="icon-color" class="fa fa-users fa-2x"><span id="how-many-buds-text" style="padding-left: 10px;">' + data.spot.spot_events[j].how_many_buds + '</span></i> <!-- Event Profile picture --> <img id="event-image-source" src="' + 'http://gravatar.com/avatar/' + MD5(data.photo) + '?s=600' + '" style="float: right; width: 150px; height: 150px; border: 2px solid white; border-radius: 300px; margin-top: 3px; margin-right: -44px;"></img> <div style="max-width: 350px; "> <div> <!-- Event Title --> <span style="font-size: 18px; padding-left: 4px;" class="card-title" id="event-title-text"><strong>' + data.spot.spot_events[j].title + '</strong></span> <!-- Event Time --> <span id="event-time-text" style="float: right">' + data.spot.spot_events[j].time + '</span> </div> <br> <!-- Event Description --> <p id="event-description-text" style="margin-top: -8px; padding-left: 4px; word-wrap: break-word;">' + data.spot.spot_events[j].description + '</p> <br> <div> <!-- Specific Location --> <p id="event-specific-location-text" style="font-size: 12px; padding-left: 4px; display: inline-block;">' + data.spot.spot_events[j].specific_location + '</p> <!-- Event Creator --> <p id="event-creator-text" style="float: right; font-size: 12px; display: inline-block; padding-right: 4px;">Created By: ' + data.spot.spot_events[j].spot_author + '</p> </div> </div> <hr style="max-width: 375px; margin-left: 0;"> <div style="max-width: 350px;" > <!-- Going Button With Integer --> <a id="going-button" style="float: left;" href="#" class="waves-effect waves-light btn"><i class="fa fa-calendar-check-o"></i><i id="' + data.spot.spot_events[j]._id + '" class="right">' + data.spot.spot_events[j].going_buds + '</i> Going</a> <!-- Maybe Button With Integer --> <a id="maybe-button" style="float: right;" href="#" class="waves-effect waves-light btn"><i style="display: none;" class="fa fa-check-circle-o"></i><i id="' + data.spot.spot_events[j]._id + '" class="right">' + data.spot.spot_events[j].maybe_buds + '</i> Maybe</a> </div> </div> </div> </li>'))
                      } else if (data.spot.spot_events[j].maybe_buds_users.includes(currentUserId)) {
                        mainUl.append($('<li class="row"> <div style="max-width: 625px; margin-bottom: -258px;" class="col s12 m6"> <div class="card blue-grey darken-1"> <div style="height: 245px;" class="card-content white-text"> <!-- How Many Buds Integer --> <i style="float: right; margin-top: 176px;" id="icon-color" class="fa fa-users fa-2x"><span id="how-many-buds-text" style="padding-left: 10px;">' + data.spot.spot_events[j].how_many_buds + '</span></i> <!-- Event Profile picture --> <img id="event-image-source" src="' + 'http://gravatar.com/avatar/' + MD5(data.photo) + '?s=600' + '" style="float: right; width: 150px; height: 150px; border: 2px solid white; border-radius: 300px; margin-top: 3px; margin-right: -44px;"></img> <div style="max-width: 350px; "> <div> <!-- Event Title --> <span style="font-size: 18px; padding-left: 4px;" class="card-title" id="event-title-text"><strong>' + data.spot.spot_events[j].title + '</strong></span> <!-- Event Time --> <span id="event-time-text" style="float: right">' + data.spot.spot_events[j].time + '</span> </div> <br> <!-- Event Description --> <p id="event-description-text" style="margin-top: -8px; padding-left: 4px; word-wrap: break-word;">' + data.spot.spot_events[j].description + '</p> <br> <div> <!-- Specific Location --> <p id="event-specific-location-text" style="font-size: 12px; padding-left: 4px; display: inline-block;">' + data.spot.spot_events[j].specific_location + '</p> <!-- Event Creator --> <p id="event-creator-text" style="float: right; font-size: 12px; display: inline-block; padding-right: 4px;">Created By: ' + data.spot.spot_events[j].spot_author + '</p> </div> </div> <hr style="max-width: 375px; margin-left: 0;"> <div style="max-width: 350px;" > <!-- Going Button With Integer --> <a id="going-button" style="float: left;" href="#" class="waves-effect waves-light btn"><i style="display: none;" class="fa fa-calendar-check-o"></i><i id="' + data.spot.spot_events[j]._id + '" class="right">' + data.spot.spot_events[j].going_buds + '</i> Going</a> <!-- Maybe Button With Integer --> <a id="maybe-button" style="float: right;" href="#" class="waves-effect waves-light btn"><i class="fa fa-check-circle-o"></i><i id="' + data.spot.spot_events[j]._id + '" class="right">' + data.spot.spot_events[j].maybe_buds + '</i> Maybe</a> </div> </div> </div> </li>'))
                      } else {
                        mainUl.append($('<li class="row"> <div style="max-width: 625px; margin-bottom: -258px;" class="col s12 m6"> <div class="card blue-grey darken-1"> <div style="height: 245px;" class="card-content white-text"> <!-- How Many Buds Integer --> <i style="float: right; margin-top: 176px;" id="icon-color" class="fa fa-users fa-2x"><span id="how-many-buds-text" style="padding-left: 10px;">' + data.spot.spot_events[j].how_many_buds + '</span></i> <!-- Event Profile picture --> <img id="event-image-source" src="' + 'http://gravatar.com/avatar/' + MD5(data.photo) + '?s=600' + '" style="float: right; width: 150px; height: 150px; border: 2px solid white; border-radius: 300px; margin-top: 3px; margin-right: -44px;"></img> <div style="max-width: 350px; "> <div> <!-- Event Title --> <span style="font-size: 18px; padding-left: 4px;" class="card-title" id="event-title-text"><strong>' + data.spot.spot_events[j].title + '</strong></span> <!-- Event Time --> <span id="event-time-text" style="float: right">' + data.spot.spot_events[j].time + '</span> </div> <br> <!-- Event Description --> <p id="event-description-text" style="margin-top: -8px; padding-left: 4px; word-wrap: break-word;">' + data.spot.spot_events[j].description + '</p> <br> <div> <!-- Specific Location --> <p id="event-specific-location-text" style="font-size: 12px; padding-left: 4px; display: inline-block;">' + data.spot.spot_events[j].specific_location + '</p> <!-- Event Creator --> <p id="event-creator-text" style="float: right; font-size: 12px; display: inline-block; padding-right: 4px;">Created By: ' + data.spot.spot_events[j].spot_author + '</p> </div> </div> <hr style="max-width: 375px; margin-left: 0;"> <div style="max-width: 350px;" > <!-- Going Button With Integer --> <a id="going-button" style="float: left;" href="#" class="waves-effect waves-light btn"><i style="display: none;" class="fa fa-calendar-check-o"></i><i id="' + data.spot.spot_events[j]._id + '" class="right">' + data.spot.spot_events[j].going_buds + '</i> Going</a> <!-- Maybe Button With Integer --> <a id="maybe-button" style="float: right;" href="#" class="waves-effect waves-light btn"><i style="display: none;" class="fa fa-check-circle-o"></i><i id="' + data.spot.spot_events[j]._id + '" class="right">' + data.spot.spot_events[j].maybe_buds + '</i> Maybe</a> </div> </div> </div> </li>'))
                      }

                    }
                })
                infoWindow.setContent(mainUl.html() + selectedPlace.name + '<br>' + selectedPlace.formatted_address + '<br><br>' + '<button class="waves-effect waves-light btn" style="font-family: Moon;" id="add-event-hardcoded">Add Event</button>')


              } else {
                infoWindow.setContent(place.name + '<br>' + place.formatted_address + '<br><br>' + '<button class="waves-effect waves-light btn" style="font-family: Moon;" id="add-event">Add an event</button>')
                $('#add-event').on('click', function(){
                  console.log(selectedPlace.place_id)
                  $.ajax({
                    method: 'post',
                    url: '/spots',
                    data: JSON.stringify({spot_location: selectedPlace.place_id}),
                    contentType: 'application/json'
                  })
                  .done(function(new_spot){
                    //console.log(new_spot, 'marker add one')
                    //console.log(new_spot, 'this is the new spot')
                    service.getDetails({
                      placeId: new_spot.spot.spot_location
                    }, function(place, status){
                      if (status === google.maps.places.PlacesServiceStatus.OK) {
                        var marker = new google.maps.Marker({
                          map: map,
                          position: place.geometry.location,
                          icon: '/assets/images/TinyLogoABig.png'
                        })


                        google.maps.event.addListener(marker, 'click', function(){
                          // marker.setVisible(false)
                          selectedPlace = place
                          $.ajax({
                            method: 'get',
                            url: '/spots/' + selectedPlace.place_id
                          })
                          .done(function(data){
                            console.log(selectedPlace.place_id)
                            console.log(data)
                            var mainUl = $('<ul id="ulul"></ul>')

                            data.spot.spot_events.forEach(function(spEvent){
                              console.log(spEvent, 'this is the element')
                              mainUl.html('')
                                for (var j = data.spot.spot_events.length - 1; j >= 0; j -= 1) {
                                  if (data.spot.spot_events[j].going_buds_users.includes(currentUserId)) {
                                    mainUl.append($('<li class="row"> <div style="max-width: 625px; margin-bottom: -258px;" class="col s12 m6"> <div class="card blue-grey darken-1"> <div style="height: 245px;" class="card-content white-text"> <!-- How Many Buds Integer --> <i style="float: right; margin-top: 176px;" id="icon-color" class="fa fa-users fa-2x"><span id="how-many-buds-text" style="padding-left: 10px;">' + data.spot.spot_events[j].how_many_buds + '</span></i> <!-- Event Profile picture --> <img id="event-image-source" src="' + 'http://gravatar.com/avatar/' + MD5(data.photo) + '?s=600' + '" style="float: right; width: 150px; height: 150px; border: 2px solid white; border-radius: 300px; margin-top: 3px; margin-right: -44px;"></img> <div style="max-width: 350px; "> <div> <!-- Event Title --> <span style="font-size: 18px; padding-left: 4px;" class="card-title" id="event-title-text"><strong>' + data.spot.spot_events[j].title + '</strong></span> <!-- Event Time --> <span id="event-time-text" style="float: right">' + data.spot.spot_events[j].time + '</span> </div> <br> <!-- Event Description --> <p id="event-description-text" style="margin-top: -8px; padding-left: 4px; word-wrap: break-word;">' + data.spot.spot_events[j].description + '</p> <br> <div> <!-- Specific Location --> <p id="event-specific-location-text" style="font-size: 12px; padding-left: 4px; display: inline-block;">' + data.spot.spot_events[j].specific_location + '</p> <!-- Event Creator --> <p id="event-creator-text" style="float: right; font-size: 12px; display: inline-block; padding-right: 4px;">Created By: ' + data.spot.spot_events[j].spot_author + '</p> </div> </div> <hr style="max-width: 375px; margin-left: 0;"> <div style="max-width: 350px;" > <!-- Going Button With Integer --> <a id="going-button" style="float: left;" href="#" class="waves-effect waves-light btn"><i class="fa fa-calendar-check-o"></i><i id="' + data.spot.spot_events[j]._id + '" class="right">' + data.spot.spot_events[j].going_buds + '</i> Going</a> <!-- Maybe Button With Integer --> <a id="maybe-button" style="float: right;" href="#" class="waves-effect waves-light btn"><i style="display: none;" class="fa fa-check-circle-o"></i><i id="' + data.spot.spot_events[j]._id + '" class="right">' + data.spot.spot_events[j].maybe_buds + '</i> Maybe</a> </div> </div> </div> </li>'))
                                  } else if (data.spot.spot_events[j].maybe_buds_users.includes(currentUserId)) {
                                    mainUl.append($('<li class="row"> <div style="max-width: 625px; margin-bottom: -258px;" class="col s12 m6"> <div class="card blue-grey darken-1"> <div style="height: 245px;" class="card-content white-text"> <!-- How Many Buds Integer --> <i style="float: right; margin-top: 176px;" id="icon-color" class="fa fa-users fa-2x"><span id="how-many-buds-text" style="padding-left: 10px;">' + data.spot.spot_events[j].how_many_buds + '</span></i> <!-- Event Profile picture --> <img id="event-image-source" src="' + 'http://gravatar.com/avatar/' + MD5(data.photo) + '?s=600' + '" style="float: right; width: 150px; height: 150px; border: 2px solid white; border-radius: 300px; margin-top: 3px; margin-right: -44px;"></img> <div style="max-width: 350px; "> <div> <!-- Event Title --> <span style="font-size: 18px; padding-left: 4px;" class="card-title" id="event-title-text"><strong>' + data.spot.spot_events[j].title + '</strong></span> <!-- Event Time --> <span id="event-time-text" style="float: right">' + data.spot.spot_events[j].time + '</span> </div> <br> <!-- Event Description --> <p id="event-description-text" style="margin-top: -8px; padding-left: 4px; word-wrap: break-word;">' + data.spot.spot_events[j].description + '</p> <br> <div> <!-- Specific Location --> <p id="event-specific-location-text" style="font-size: 12px; padding-left: 4px; display: inline-block;">' + data.spot.spot_events[j].specific_location + '</p> <!-- Event Creator --> <p id="event-creator-text" style="float: right; font-size: 12px; display: inline-block; padding-right: 4px;">Created By: ' + data.spot.spot_events[j].spot_author + '</p> </div> </div> <hr style="max-width: 375px; margin-left: 0;"> <div style="max-width: 350px;" > <!-- Going Button With Integer --> <a id="going-button" style="float: left;" href="#" class="waves-effect waves-light btn"><i style="display: none;" class="fa fa-calendar-check-o"></i><i id="' + data.spot.spot_events[j]._id + '" class="right">' + data.spot.spot_events[j].going_buds + '</i> Going</a> <!-- Maybe Button With Integer --> <a id="maybe-button" style="float: right;" href="#" class="waves-effect waves-light btn"><i class="fa fa-check-circle-o"></i><i id="' + data.spot.spot_events[j]._id + '" class="right">' + data.spot.spot_events[j].maybe_buds + '</i> Maybe</a> </div> </div> </div> </li>'))
                                  } else {
                                    mainUl.append($('<li class="row"> <div style="max-width: 625px; margin-bottom: -258px;" class="col s12 m6"> <div class="card blue-grey darken-1"> <div style="height: 245px;" class="card-content white-text"> <!-- How Many Buds Integer --> <i style="float: right; margin-top: 176px;" id="icon-color" class="fa fa-users fa-2x"><span id="how-many-buds-text" style="padding-left: 10px;">' + data.spot.spot_events[j].how_many_buds + '</span></i> <!-- Event Profile picture --> <img id="event-image-source" src="' + 'http://gravatar.com/avatar/' + MD5(data.photo) + '?s=600' + '" style="float: right; width: 150px; height: 150px; border: 2px solid white; border-radius: 300px; margin-top: 3px; margin-right: -44px;"></img> <div style="max-width: 350px; "> <div> <!-- Event Title --> <span style="font-size: 18px; padding-left: 4px;" class="card-title" id="event-title-text"><strong>' + data.spot.spot_events[j].title + '</strong></span> <!-- Event Time --> <span id="event-time-text" style="float: right">' + data.spot.spot_events[j].time + '</span> </div> <br> <!-- Event Description --> <p id="event-description-text" style="margin-top: -8px; padding-left: 4px; word-wrap: break-word;">' + data.spot.spot_events[j].description + '</p> <br> <div> <!-- Specific Location --> <p id="event-specific-location-text" style="font-size: 12px; padding-left: 4px; display: inline-block;">' + data.spot.spot_events[j].specific_location + '</p> <!-- Event Creator --> <p id="event-creator-text" style="float: right; font-size: 12px; display: inline-block; padding-right: 4px;">Created By: ' + data.spot.spot_events[j].spot_author + '</p> </div> </div> <hr style="max-width: 375px; margin-left: 0;"> <div style="max-width: 350px;" > <!-- Going Button With Integer --> <a id="going-button" style="float: left;" href="#" class="waves-effect waves-light btn"><i style="display: none;" class="fa fa-calendar-check-o"></i><i id="' + data.spot.spot_events[j]._id + '" class="right">' + data.spot.spot_events[j].going_buds + '</i> Going</a> <!-- Maybe Button With Integer --> <a id="maybe-button" style="float: right;" href="#" class="waves-effect waves-light btn"><i style="display: none;" class="fa fa-check-circle-o"></i><i id="' + data.spot.spot_events[j]._id + '" class="right">' + data.spot.spot_events[j].maybe_buds + '</i> Maybe</a> </div> </div> </div> </li>'))
                                  }

                                }
                            })
                            infoWindow.setContent(mainUl.html() + selectedPlace.name + '<br>' + selectedPlace.formatted_address + '<br><br>' + '<button class="waves-effect waves-light btn" style="font-family: Moon;" id="add-event-hardcoded">Add Event</button>')

                          })
                          // console.log(new_spot, 'this is what you want')
                          // infoWindow.setContent(place.name + '<br>' + place.formatted_address + '<br>' + '<button id="add-event-hardcoded">Add Event</button>')

                          infoWindow.open(map, marker)
                        })
                      }
                    })
                  })

                  $('#modal2').openModal()

                  //console.log(searchMarkers)
                  searchMarkers.splice(searchMarkers.indexOf(marker), 1)
                  marker.setIcon('/assets/images/TinyLogo.png')
                })
              }
            })
            infoWindow.open(map, this)
          })
        }

      })
      //console.log(places.length, 'places found with search input', $(inputBox).val())

    })

    // marker colors - blue : http://maps.google.com/mapfiles/ms/icons/blue-dot.png
    // green - http://maps.google.com/mapfiles/ms/icons/green-dot.png
    var selectedPlace = null
    function postEvent(place){
      //console.log('Adding an event...')
      $.ajax({
        method: 'post',
        url: '/events',
        data: JSON.stringify({spot_location: place.place_id.toString(), title: $('#event-title-for-db-pin').val(), description: $('#description-text-input-for-db-pin').val(), specific_location: $('#specific-location-text-for-db-pin').val(), how_many_buds: $('#how-many-db-pin option:selected').text(), time: $('#hour-for-db-pin option:selected').text() + ':' + $('#mins-for-db-pin option:selected').text() + $('#am-pm-for-db-pin option:selected').text()}),
        contentType: 'application/json'
      })
      .done(function(data){

        //console.log(data, 'this is the data')
        // infoWindow.setContent($('#event-title-for-db-pin').val())
        var goUl = $('<ul id="ulul"></ul>')

        data.the_spot.spot_events.forEach(function(spEvent){
          //console.log(spEvent, 'this is the element')
          goUl.html('')
          // console.log(spot.spot_location)
            for (var j = data.the_spot.spot_events.length - 1; j >= 0; j -= 1) {
              if (data.the_spot.spot_events[j].going_buds_users.includes(currentUserId)){
                goUl.append($('<li class="row"> <div style="max-width: 625px; margin-bottom: -258px;" class="col s12 m6"> <div class="card blue-grey darken-1"> <div style="height: 245px;" class="card-content white-text"> <!-- How Many Buds Integer --> <i style="float: right; margin-top: 176px;" id="icon-color" class="fa fa-users fa-2x"><span id="how-many-buds-text" style="padding-left: 10px;">' + data.the_spot.spot_events[j].how_many_buds + '</span></i> <!-- Event Profile picture --> <img id="event-image-source" src="' + 'http://gravatar.com/avatar/' + MD5(data.photo) + '?s=600' + '" style="float: right; width: 150px; height: 150px; border: 2px solid white; border-radius: 300px; margin-top: 3px; margin-right: -44px;"></img> <div style="max-width: 350px; "> <div> <!-- Event Title --> <span style="font-size: 18px; padding-left: 4px;" class="card-title" id="event-title-text"><strong>' + data.the_spot.spot_events[j].title + '</strong></span> <!-- Event Time --> <span id="event-time-text" style="float: right">' + data.the_spot.spot_events[j].time + '</span> </div> <br> <!-- Event Description --> <p id="event-description-text" style="margin-top: -8px; padding-left: 4px; word-wrap: break-word;">' + data.the_spot.spot_events[j].description + '</p> <br> <div> <!-- Specific Location --> <p id="event-specific-location-text" style="font-size: 12px; padding-left: 4px; display: inline-block;">' + data.the_spot.spot_events[j].specific_location + '</p> <!-- Event Creator --> <p id="event-creator-text" style="float: right; font-size: 12px; display: inline-block; padding-right: 4px;">Created By: ' + data.the_spot.spot_events[j].spot_author + '</p> </div> </div> <hr style="max-width: 375px; margin-left: 0;"> <div style="max-width: 350px;" > <!-- Going Button With Integer --> <a id="going-button" style="float: left;" href="#" class="waves-effect waves-light btn"><i class="fa fa-calendar-check-o"></i><i id="' + data.the_spot.spot_events[j]._id + '" class="right">' + data.the_spot.spot_events[j].going_buds + '</i> Going</a> <!-- Maybe Button With Integer --> <a id="maybe-button" style="float: right;" href="#" class="waves-effect waves-light btn"><i style="display: none;" class="fa fa-check-circle-o"></i><i id="' + data.the_spot.spot_events[j]._id + '" class="right">' + data.the_spot.spot_events[j].maybe_buds + '</i> Maybe</a> </div> </div> </div> </li>'))
              } else if (data.the_spot.spot_events[j].maybe_buds_users.includes(currentUserId)) {
                goUl.append($('<li class="row"> <div style="max-width: 625px; margin-bottom: -258px;" class="col s12 m6"> <div class="card blue-grey darken-1"> <div style="height: 245px;" class="card-content white-text"> <!-- How Many Buds Integer --> <i style="float: right; margin-top: 176px;" id="icon-color" class="fa fa-users fa-2x"><span id="how-many-buds-text" style="padding-left: 10px;">' + data.the_spot.spot_events[j].how_many_buds + '</span></i> <!-- Event Profile picture --> <img id="event-image-source" src="' + 'http://gravatar.com/avatar/' + MD5(data.photo) + '?s=600' + '" style="float: right; width: 150px; height: 150px; border: 2px solid white; border-radius: 300px; margin-top: 3px; margin-right: -44px;"></img> <div style="max-width: 350px; "> <div> <!-- Event Title --> <span style="font-size: 18px; padding-left: 4px;" class="card-title" id="event-title-text"><strong>' + data.the_spot.spot_events[j].title + '</strong></span> <!-- Event Time --> <span id="event-time-text" style="float: right">' + data.the_spot.spot_events[j].time + '</span> </div> <br> <!-- Event Description --> <p id="event-description-text" style="margin-top: -8px; padding-left: 4px; word-wrap: break-word;">' + data.the_spot.spot_events[j].description + '</p> <br> <div> <!-- Specific Location --> <p id="event-specific-location-text" style="font-size: 12px; padding-left: 4px; display: inline-block;">' + data.the_spot.spot_events[j].specific_location + '</p> <!-- Event Creator --> <p id="event-creator-text" style="float: right; font-size: 12px; display: inline-block; padding-right: 4px;">Created By: ' + data.the_spot.spot_events[j].spot_author + '</p> </div> </div> <hr style="max-width: 375px; margin-left: 0;"> <div style="max-width: 350px;" > <!-- Going Button With Integer --> <a id="going-button" style="float: left;" href="#" class="waves-effect waves-light btn"><i style="display: none;" class="fa fa-calendar-check-o"></i><i id="' + data.the_spot.spot_events[j]._id + '" class="right">' + data.the_spot.spot_events[j].going_buds + '</i> Going</a> <!-- Maybe Button With Integer --> <a id="maybe-button" style="float: right;" href="#" class="waves-effect waves-light btn"><i class="fa fa-check-circle-o"></i><i id="' + data.the_spot.spot_events[j]._id + '" class="right">' + data.the_spot.spot_events[j].maybe_buds + '</i> Maybe</a> </div> </div> </div> </li>'))
              } else {
                goUl.append($('<li class="row"> <div style="max-width: 625px; margin-bottom: -258px;" class="col s12 m6"> <div class="card blue-grey darken-1"> <div style="height: 245px;" class="card-content white-text"> <!-- How Many Buds Integer --> <i style="float: right; margin-top: 176px;" id="icon-color" class="fa fa-users fa-2x"><span id="how-many-buds-text" style="padding-left: 10px;">' + data.the_spot.spot_events[j].how_many_buds + '</span></i> <!-- Event Profile picture --> <img id="event-image-source" src="' + 'http://gravatar.com/avatar/' + MD5(data.photo) + '?s=600' + '" style="float: right; width: 150px; height: 150px; border: 2px solid white; border-radius: 300px; margin-top: 3px; margin-right: -44px;"></img> <div style="max-width: 350px; "> <div> <!-- Event Title --> <span style="font-size: 18px; padding-left: 4px;" class="card-title" id="event-title-text"><strong>' + data.the_spot.spot_events[j].title + '</strong></span> <!-- Event Time --> <span id="event-time-text" style="float: right">' + data.the_spot.spot_events[j].time + '</span> </div> <br> <!-- Event Description --> <p id="event-description-text" style="margin-top: -8px; padding-left: 4px; word-wrap: break-word;">' + data.the_spot.spot_events[j].description + '</p> <br> <div> <!-- Specific Location --> <p id="event-specific-location-text" style="font-size: 12px; padding-left: 4px; display: inline-block;">' + data.the_spot.spot_events[j].specific_location + '</p> <!-- Event Creator --> <p id="event-creator-text" style="float: right; font-size: 12px; display: inline-block; padding-right: 4px;">Created By: ' + data.the_spot.spot_events[j].spot_author + '</p> </div> </div> <hr style="max-width: 375px; margin-left: 0;"> <div style="max-width: 350px;" > <!-- Going Button With Integer --> <a id="going-button" style="float: left;" href="#" class="waves-effect waves-light btn"><i style="display: none;" class="fa fa-calendar-check-o"></i><i id="' + data.the_spot.spot_events[j]._id + '" class="right">' + data.the_spot.spot_events[j].going_buds + '</i> Going</a> <!-- Maybe Button With Integer --> <a id="maybe-button" style="float: right;" href="#" class="waves-effect waves-light btn"><i style="display: none;" class="fa fa-check-circle-o"></i><i id="' + data.the_spot.spot_events[j]._id + '" class="right">' + data.the_spot.spot_events[j].maybe_buds + '</i> Maybe</a> </div> </div> </div> </li>'))
              }


            }

        })
        infoWindow.setContent(goUl.html() + place.name + '<br>' + place.formatted_address + '<br><br>' + '<button class="waves-effect waves-light btn" style="font-family: Moon;" id="add-event-hardcoded2">Add Event</button>')

      })
    }

    // RSVP OPTIONS
    var rsvp_list = $('#rsvp-ul')
    var rsvp_title = $('#rsvp-modal-title')
     $('body').on('click', '#going-button', function(evt){
        //  console.log("going clicked")
        //  console.log(evt.target.nodeName)
        console.log($(evt.target).children().eq(1))
        //console.log($(evt.target).children().eq(0))
         if (evt.target.nodeName === 'A') {
           $(evt.target).children().eq(1).text(function(i, text){
             return Number(text) + 1
           })
           $.ajax({
             method: 'patch',
             url: '/events/' + $(evt.target).children().eq(1).attr('id'),
             data: JSON.stringify({going: true, maybe: false}),
             contentType: 'application/json'
           })
           .done(function(data){
             console.log(data, 'going change')
             if (data.message === 'show-users-going') {
               rsvp_list.html('')
               rsvp_title.text('Buds Going(' + data.users.going_buds + ' buds)')
               console.log('all going rsvps')
               data.users.going_buds_users.forEach(function(user){
                 console.log(user, 'this is user signular')
                 var bud_li = $('<li class="collection-item avatar"></li>')
                 if (user.local) {
                   bud_li.html('<span style="margin-left: -50px;" class="title">' + user.local.name + '</span> <img style="position: initial !important; float: right;" src="http://gravatar.com/avatar/"' + MD5(user.local.email) + '?s=600" class="circle"> <p style="margin-left: -50px; font-size: 12px;">Email<br>' + user.local.email + '</p>')
                   rsvp_list.append(bud_li)
                   console.log('local:', user.local.name)
                 } else if (user.facebook) {
                   bud_li.html('<span style="margin-left: -50px;" class="title">' + user.facebook.name + '</span> <img style="position: initial !important; float: right;" src="http://gravatar.com/avatar/"' + MD5(user.facebook.email) + '?s=600" class="circle"> <p style="margin-left: -50px; font-size: 12px;">Email<br>' + user.facebook.email + '</p>')
                   rsvp_list.append(bud_li)
                   console.log('facbook:', user.facebook.name)
                 }
               })
               if (data.users.going_buds_users.length === 0) {
                 var no_buds_li = $('<li></li>')
                 no_buds_li.text('No buds have confirmed an rsvp for this event yet.')
                 rsvp_list.append(no_buds_li)
                 console.log('no buds going yet')
               }
               console.log(data.users.going_buds)
               $(evt.target).children().eq(1).text(data.users.going_buds)
               $('#modal1').openModal()
             } else if (data.message === 'nope on going add' || data.message === 'limit maxed out no more rsvp for going.'){
               console.log(data, 'this is data')
               console.log(data.message, 'message from route')
               console.log(data.event_ob, 'this is event ob <<<<<')
               console.log(data.event_ob.going_buds)
               $(evt.target).children().eq(1).text(data.event_ob.going_buds)
               $(evt.target).siblings().children().eq(1).text(data.event_ob.maybe_buds)
             } else if (data.message === 'maybe went down 1 and going went up one'){
               $(evt.target).children().eq(0).fadeIn('slow')
               $(evt.target).siblings().children().eq(0).hide()
               $(evt.target).siblings().children().eq(1).text(data.data.maybe_buds)
               console.log(data.data.going_buds)
               $(evt.target).children().eq(1).text(data.data.going_buds)
             } else {
               $(evt.target).children().eq(0).fadeIn()
               console.log(data.data.going_buds)
               $(evt.target).children().eq(1).text(data.data.going_buds)
             }


            //  location.reload()
           })
         }
     })

     $('body').on('click', '#maybe-button', function(evt){
        //  console.log("maybe clicked")
        //  console.log(evt.target.nodeName)
        console.log($(evt.target).children(), 'this is maybe button clicked')
        if (evt.target.nodeName === 'A') {
          $(evt.target).children().eq(1).text(function(i, text){
            return Number(text) + 1
          })
          // console.log($(evt.target).children())
          // console.log($(evt.target).children().first().attr('id'))
          $.ajax({
            method: 'patch',
            url: '/events/' + $(evt.target).children().eq(1).attr('id'),
            data: JSON.stringify({going: false, maybe: true}),
            contentType: 'application/json'
          })
          .done(function(data){
            console.log(data, 'maybe change')
            if (data.message === 'show-maybe-users') {
              rsvp_list.html('')
              rsvp_title.text('Buds That Might Go (' + data.users.maybe_buds + ' buds)')
              console.log('all maybe rsvps')
              data.users.maybe_buds_users.forEach(function(user){
               console.log(user, 'this is user signular')
                var bud_li = $('<li class="collection-item avatar"></li>')
                if (user.local) {
                  bud_li.html('<span style="margin-left: -50px;" class="title">' + user.local.name + '</span> <img style="position: initial !important; float: right;" src="http://gravatar.com/avatar/"' + MD5(user.local.email) + '?s=600" class="circle"> <p style="margin-left: -50px; font-size: 12px;">Email<br>' + user.local.email + '</p>')
                  rsvp_list.append(bud_li)
                  console.log('local:', user.local.name)
                } else if (user.facebook) {
                  bud_li.html('<span style="margin-left: -50px;" class="title">' + user.facebook.name + '</span> <img style="position: initial !important; float: right;" src="http://gravatar.com/avatar/"' + MD5(user.facebook.email) + '?s=600" class="circle"> <p style="margin-left: -50px; font-size: 12px;">Email<br>' + user.facebook.email + '</p>')
                  rsvp_list.append(bud_li)
                  console.log('facbook:', user.facebook.name)
                }
              })
              if (data.users.maybe_buds_users.length === 0) {
                var no_buds_li = $('<li></li>')
                no_buds_li.text('No buds have confirmed a maybe rsvp for this event.')
                rsvp_list.append(no_buds_li)
                console.log('no buds have placed a maybe rsvp yet')
              }
              console.log(data.users.maybe_buds)
              $(evt.target).children().eq(1).text(data.users.maybe_buds)
              $('#modal1').openModal()
            } else if (data.message === 'nope on maybe add'){
              console.log(data.event_ob.maybe_buds)
              $(evt.target).children().eq(1).text(data.event_ob.maybe_buds)
              $(evt.target).siblings().children().eq(1).text(data.event_ob.going_buds)
            } else if (data.message === 'maybe went up 1 and going went down one') {
              $(evt.target).children().eq(0).fadeIn('slow')
              $(evt.target).siblings().children().eq(0).hide()
              $(evt.target).siblings().children().eq(1).text(data.data.going_buds)
              console.log(data.data.maybe_buds)
              $(evt.target).children().eq(1).text(data.data.maybe_buds)
            } else {
              $(evt.target).children().eq(0).fadeIn()
              console.log(data.data.maybe_buds)
              $(evt.target).children().eq(1).text(data.data.maybe_buds)
            }

            // location.reload()
          })
        }
     })

    $('body').on('click', '#add-event-hardcoded2', function(){
      // console.log('clicked this is it!!!')
      $('#modal2').openModal()
    })

    $('body').on('click', '#add-event-hardcoded', function(){
      // console.log('clicked this is it!!!')
      $('#modal2').openModal()
    })

    $('body').on('click', '#create-event-for-db-pin', function(){
      postEvent(selectedPlace)
    })

    // $('body').on('click', '#close-button', function(){
    //   postEvent(selectedPlace)
    // })

    var spot_div = $('<div id="result"></div>')

    $.ajax({
      method: 'get',
      url: '/spots'
    })
    .done(function(spots){
      // console.log(spots)

      //console.log('dropping pins!!!!!!!')
      if (allMarkers.length > 0) {
        allMarkers.forEach(function(location){
          location.setMap(null)
          allMarkers = []
        })
      }
      // console.log(spots, 'these are all the spots')
      var toSpot = null
      for (var i = 0; i < spots.length; i +=1){
        if (spots[i].spot_events.length > 0) {
          spots[i].spot_events.forEach(function(sE){
            //console.log(sE.title, i)
            toSpot = i
          })
        }
      }

      spots.forEach(function placeMarkers(spot){

        service.getDetails({
          placeId: spot.spot_location
        }, function(place, status){

          if (status === google.maps.places.PlacesServiceStatus.OK) {
            var marker = new google.maps.Marker({
              map: map,
              position: place.geometry.location,
              icon: '/assets/images/TinyLogoABig.png',
              title: spot.spot_location
            })
            allMarkers.push(marker)

            //console.log(marker.title)

            // spot_div.html('')

            var spot_ul = $('<ul id="ulul"></ul>')

            google.maps.event.addListener(marker, 'click', function(){
              selectedPlace = place
              //console.log(place)
              $.ajax({
                method: 'get',
                url: '/spots/' + selectedPlace.place_id
              })
              .done(function(data){
                console.log(data, 'get get get')

                  // var uInfoWindow = new google.maps.InfoWindow()

                    // console.log(spEvent, 'rsvp')
                    spot_ul.html('')
                    // console.log(spot.spot_location)
                    if (marker.title === data.spot.spot_location) {
                      for (var j = data.spot.spot_events.length - 1; j >= 0; j -= 1) {
                        if (data.spot.spot_events[j].going_buds_users.includes(currentUserId)) {
                          spot_ul.append($('<li class="row"> <div style="max-width: 625px; margin-bottom: -258px;" class="col s12 m6"> <div class="card blue-grey darken-1"> <div style="height: 245px;" class="card-content white-text"> <!-- How Many Buds Integer --> <i style="float: right; margin-top: 176px;" id="icon-color" class="fa fa-users fa-2x"><span id="how-many-buds-text" style="padding-left: 10px;">' + data.spot.spot_events[j].how_many_buds + '</span></i> <!-- Event Profile picture --> <img id="event-image-source" src="' + 'http://gravatar.com/avatar/' + MD5(data.spot.spot_events[j].photo) + '?s=600' + '" style="float: right; width: 150px; height: 150px; border: 2px solid white; border-radius: 300px; margin-top: 3px; margin-right: -44px;"></img> <div style="max-width: 350px; "> <div> <!-- Event Title --> <span style="font-size: 18px; padding-left: 4px;" class="card-title" id="event-title-text"><strong>' + data.spot.spot_events[j].title + '</strong></span> <!-- Event Time --> <span id="event-time-text" style="float: right">' + data.spot.spot_events[j].time + '</span> </div> <br> <!-- Event Description --> <p id="event-description-text" style="margin-top: -8px; padding-left: 4px; word-wrap: break-word;">' + data.spot.spot_events[j].description + '</p> <br> <div> <!-- Specific Location --> <p id="event-specific-location-text" style="font-size: 12px; padding-left: 4px; display: inline-block;">' + data.spot.spot_events[j].specific_location + '</p> <!-- Event Creator --> <p id="event-creator-text" style="float: right; font-size: 12px; display: inline-block; padding-right: 4px;">Created By: ' + data.spot.spot_events[j].spot_author + '</p> </div> </div> <hr style="max-width: 375px; margin-left: 0;"> <div style="max-width: 350px;" > <!-- Going Button With Integer --> <a id="going-button" style="float: left;" href="#" class="waves-effect waves-light btn"><i class="fa fa-calendar-check-o"></i><i id="' + data.spot.spot_events[j]._id + '" class="right">' + data.spot.spot_events[j].going_buds + '</i> Going</a> <!-- Maybe Button With Integer --> <a id="maybe-button" style="float: right;" href="#" class="waves-effect waves-light btn"><i style="display: none;" class="fa fa-check-circle-o"></i><i id="' + data.spot.spot_events[j]._id + '" class="right">' + data.spot.spot_events[j].maybe_buds + '</i> Maybe</a> </div> </div> </div> </li>'))
                        } else if (data.spot.spot_events[j].maybe_buds_users.includes(currentUserId)) {
                          spot_ul.append($('<li class="row"> <div style="max-width: 625px; margin-bottom: -258px;" class="col s12 m6"> <div class="card blue-grey darken-1"> <div style="height: 245px;" class="card-content white-text"> <!-- How Many Buds Integer --> <i style="float: right; margin-top: 176px;" id="icon-color" class="fa fa-users fa-2x"><span id="how-many-buds-text" style="padding-left: 10px;">' + data.spot.spot_events[j].how_many_buds + '</span></i> <!-- Event Profile picture --> <img id="event-image-source" src="' + 'http://gravatar.com/avatar/' + MD5(data.spot.spot_events[j].photo) + '?s=600' + '" style="float: right; width: 150px; height: 150px; border: 2px solid white; border-radius: 300px; margin-top: 3px; margin-right: -44px;"></img> <div style="max-width: 350px; "> <div> <!-- Event Title --> <span style="font-size: 18px; padding-left: 4px;" class="card-title" id="event-title-text"><strong>' + data.spot.spot_events[j].title + '</strong></span> <!-- Event Time --> <span id="event-time-text" style="float: right">' + data.spot.spot_events[j].time + '</span> </div> <br> <!-- Event Description --> <p id="event-description-text" style="margin-top: -8px; padding-left: 4px; word-wrap: break-word;">' + data.spot.spot_events[j].description + '</p> <br> <div> <!-- Specific Location --> <p id="event-specific-location-text" style="font-size: 12px; padding-left: 4px; display: inline-block;">' + data.spot.spot_events[j].specific_location + '</p> <!-- Event Creator --> <p id="event-creator-text" style="float: right; font-size: 12px; display: inline-block; padding-right: 4px;">Created By: ' + data.spot.spot_events[j].spot_author + '</p> </div> </div> <hr style="max-width: 375px; margin-left: 0;"> <div style="max-width: 350px;" > <!-- Going Button With Integer --> <a id="going-button" style="float: left;" href="#" class="waves-effect waves-light btn"><i style="display: none;" class="fa fa-calendar-check-o"></i><i id="' + data.spot.spot_events[j]._id + '" class="right">' + data.spot.spot_events[j].going_buds + '</i> Going</a> <!-- Maybe Button With Integer --> <a id="maybe-button" style="float: right;" href="#" class="waves-effect waves-light btn"><i class="fa fa-check-circle-o"></i><i id="' + data.spot.spot_events[j]._id + '" class="right">' + data.spot.spot_events[j].maybe_buds + '</i> Maybe</a> </div> </div> </div> </li>'))
                        } else {
                          spot_ul.append($('<li class="row"> <div style="max-width: 625px; margin-bottom: -258px;" class="col s12 m6"> <div class="card blue-grey darken-1"> <div style="height: 245px;" class="card-content white-text"> <!-- How Many Buds Integer --> <i style="float: right; margin-top: 176px;" id="icon-color" class="fa fa-users fa-2x"><span id="how-many-buds-text" style="padding-left: 10px;">' + data.spot.spot_events[j].how_many_buds + '</span></i> <!-- Event Profile picture --> <img id="event-image-source" src="' + 'http://gravatar.com/avatar/' + MD5(data.spot.spot_events[j].photo) + '?s=600' + '" style="float: right; width: 150px; height: 150px; border: 2px solid white; border-radius: 300px; margin-top: 3px; margin-right: -44px;"></img> <div style="max-width: 350px; "> <div> <!-- Event Title --> <span style="font-size: 18px; padding-left: 4px;" class="card-title" id="event-title-text"><strong>' + data.spot.spot_events[j].title + '</strong></span> <!-- Event Time --> <span id="event-time-text" style="float: right">' + data.spot.spot_events[j].time + '</span> </div> <br> <!-- Event Description --> <p id="event-description-text" style="margin-top: -8px; padding-left: 4px; word-wrap: break-word;">' + data.spot.spot_events[j].description + '</p> <br> <div> <!-- Specific Location --> <p id="event-specific-location-text" style="font-size: 12px; padding-left: 4px; display: inline-block;">' + data.spot.spot_events[j].specific_location + '</p> <!-- Event Creator --> <p id="event-creator-text" style="float: right; font-size: 12px; display: inline-block; padding-right: 4px;">Created By: ' + data.spot.spot_events[j].spot_author + '</p> </div> </div> <hr style="max-width: 375px; margin-left: 0;"> <div style="max-width: 350px;" > <!-- Going Button With Integer --> <a id="going-button" style="float: left;" href="#" class="waves-effect waves-light btn"><i style="display: none;" class="fa fa-calendar-check-o"></i><i id="' + data.spot.spot_events[j]._id + '" class="right">' + data.spot.spot_events[j].going_buds + '</i> Going</a> <!-- Maybe Button With Integer --> <a id="maybe-button" style="float: right;" href="#" class="waves-effect waves-light btn"><i style="display: none;" class="fa fa-check-circle-o"></i><i id="' + data.spot.spot_events[j]._id + '" class="right">' + data.spot.spot_events[j].maybe_buds + '</i> Maybe</a> </div> </div> </div> </li>'))
                        }

                      }

                    }

                  infoWindow.setContent(spot_ul.html() + place.name + '<br>' + place.formatted_address + '<br><br>' + '<button class="waves-effect waves-light btn" style="font-family: Moon;" id="add-event-hardcoded2">Add Event</button>')

                  // spot_ul.html().toString()
                  // console.log(spot_ul.html().toString())


              })

              // infoWindow.setContent(place.name + '<br>' + place.formatted_address + '<br>' + '<button id="add-event-hardcoded2">Add Event</button>')


              infoWindow.open(map, marker)


            })
          } else {
            // using recursion to display all markers to the screen
            setTimeout(function(){ placeMarkers(spot)}, 500)
            //console.log(status, 'not working nooooo')
          }
        })
      })
    })

    function fill_map(data){


    }

  }

</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiziPo9qfv5AIDmkB4JREt9PyDBgphUzY&libraries=places&callback=initMap">
</script>


<script>
 $('#layout-nav').css({'display': 'none'})
</script>
