<div class="text-center col-md-8 col-md-offset-2">
    <h1><span class="fa fa-lock"></span>SpotBuds</h1>
    <h3>Login</h3>
    <form action="action_page.php">
      <div class="">
        username:<br>
        <input id="username" class="input" type="text" name="username" />
        <br>
      </div>
      <div class="">
        email:<br>
        <input id="email" class="input" type="email" name="email" />
      </div>
      <input type="submit">
    </form>
    
    <a href="/" class="btn btn-default">Local Login</a>
    <br>
    <h4>–––––– OR ––––––</h4>
    <h3>Signup!</h4>
    <br>
    <a href="/signup" class="btn btn-default">Local Signup</a>
    <hr>
    <h4>Or Login With <a href="/auth/facebook" class="btn btn-primary">Facebook</a></h4>
</div>




<!-- notes for JEN, don't bother with this -->

<!-- <form action="demo_form.asp">
  <label for="male">Male</label>
  <input type="radio" name="gender" id="male" value="male"><br>
  <label for="female">Female</label>
  <input type="radio" name="gender" id="female" value="female"><br>
  <label for="other">Other</label>
  <input type="radio" name="gender" id="other" value="other"><br><br>
  <input type="submit" value="Submit">
</form> -->
