<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SpotBuds</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 80%;
        width: 80%;
        margin-top: 40px !important;
        margin: 0 auto;
        border: 10px solid rgb(67, 158, 120);
      }
      .info-window-box {

      }
    </style>
  </head>
  <body>
    <div class="navbar-fixed">
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">one</a></li>
        <li class="divider"></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
      </ul>
        <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Logo</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="active"><a href="sass.html">Sass</a></li>
            <li class="active"><a href="badges.html">Components</a></li>
            <li class="active"><a href="collapsible.html">JavaScript</a></li>
          </ul>
        </div>
      </nav>
    </div>
<script type="text/javascript">

</script>
  <%- body %>
  </body>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiziPo9qfv5AIDmkB4JREt9PyDBgphUzY&libraries=places&callback=initMap">
  </script>
</html>
