<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SpotBuds</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 80%;
        width: 80%;
        margin-top: 40px !important;
        margin: 0 auto;
        border: 10px solid rgb(67, 158, 120);
      }
      .info-window-box {

      }
      nav #input-login{
        background-color: white;
        padding-left: 20px;
      }
      nav .row {
        width: 60%;
        position: inherit;
      }
      nav #nav-mobile{
        position: inherit;
      }
      #search-box {
       background-color: white;
       font-size: 15px;
       padding-left: 15px;
       text-overflow: ellipsis;
       width: 500px;
     }
    </style>
  </head>
  <body>
    <div class="navbar-fixed" id="layout-nav">

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
dropdown content
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="/profile">Profile</a></li>
        <li class="divider"></li>
        <li><a href="/map">Map</a></li>
        <li class="divider"></li>
        <li><a href="/login" class="modal-content">Login</a></li>
        <li class="divider"></li>
        <li><a href="/logout">Logout</a></li>
        <li class="divider"></li>
      </ul>
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
modal in navbar options
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        <li id="modal1" class="modal">
          <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
          </div>
          <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
          </div>
        </div>
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->


        <nav>
        <div class="nav-wrapper">
          <a href="/map" class="brand-logo">SpotBuds Logo</a>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
login forms in navbar
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
          <div class="text-center login">
            <div class="row">
              <form class="col s12" action="/map">
                <div class="input-field col s4">
                  <input id="input-login" type="email" class="input" placeholder="Email">
                </div>
                <div class="input-field col s4">
                  <input id="input-login" type="password" class="input" placeholder="Password">
                </div>
                <div class="input-field col s4">
                  <input type="submit" class="btn btn-default" value="Login">
                </div>
              </form>
            </div>
          </div>
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

          <!-- <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Username<i class="material-icons right"></i></a></li>
          </ul> -->
        </div>
      </nav>
    </div>
<script type="text/javascript">
  $( document ).ready(function(){
    $(".dropdown-button").dropdown();
    $('.parallax').parallax();
  })

  // var modal = $('#modal1')
</script>

  <%- body %>
  </body>
</html>
