<style>
  body {
    background-color: black;
    background-image: url("/assets/images/Logo-text-lowopacity.png");
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .container{
    /*background-color: #455a64;*/
    box-shadow: white;

    width: 600px;
    padding: 50px;
  }
  a {
    color: #ffd54f;
  }
  /*.my-img img {
    width: 100%;
    position: center;
    opacity: 0.8;
  }*/

/*~~~~~~~~~~~ for input forms ~~~~~~~~~~~~~~~~*/
  .input-field label {
    font-size: 0.8rem;
    color: white;
  }
  label {
    color: white;
  }
  input[type=name], input[type=password], input[type=email], textarea.materialize-textarea {
    border-bottom: 1px solid white;
  }
  input[type=email]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label {
    color: #ffd54f;
  }
  input[type=name]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=password]:focus:not([readonly]) {
    color: white;
    border-bottom: 1px solid #ffd54f;
    box-shadow: 0 1px 0 0 #ffd54f;
  }

  /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

  /*~~~~~~~~~~ for horizonal line ~~~~~~~~~~~*/
  .subtitle {
  font-size: 30px;
  }
  .fancy {
    overflow: hidden;
    text-align: center;
  }
  .fancy span {
    position: relative;
  }
  .fancy span:before, .fancy span:after {
    content: "";
    position: absolute;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    width: 600px;
    height: 7px;
    top: 50%;
    margin-top: -4px;
  }
  .fancy span:before {
    right: 100%;
    margin-right: 15px;
  }
  .fancy span:after {
    left: 100%;
    margin-left: 15px;
  }
  /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
  .btn-center {
    text-align: center;
  }
  .btn {
    padding: 0 2rem;
  }

  p {
    margin-bottom: -10px;
  }
</style>

<body>

<!-- ~~~~~~~~~~~~~ NAVBAR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <div class="navbar-fixed" id="login-nav">
    <nav>
      <div class="nav-wrapper">
        <a href="/map"><img src="/assets/images/Logo-text-white.png" class="nav-img2"></a>
      </div>
    </nav>
  </div>

<!-- ~~~~~~~~~~~~LOGIN FORMS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  <div class="container">
    <div class="text-center col-md-8 col-md-offset-2">
      <h3><strong>LOGIN</strong></h3>
      <br>
      <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
      <% } %>

      <form class="form-content" action="/login" method="post">
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="input" name="email">
            <label for="email" class="active">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="input" name="password">
            <label for="password" class="active">Password</label>
          </div>
        </div>
        <div class="btn-center">
          <button type="submit" class="btn waves-effect waves-light btn-large"><font size="5">Login</font></button>
        </div>
      </form>

      <br>
      <p class="subtitle fancy"><span><strong>OR</strong></span></p>
      <div class="btn-center">
        <h6> Login with </h6><br><a href="/auth/facebook" class="btn waves-effect waves-light btn-primary">FACEBOOK</a>
      </div>
      <br>
      <p>Don't have an account? <a href="/signup">Signup!</a></p>
      <p>Go back <a href="/">home.</a></p>
    </div>
  </div>
</body>
