<!-- /*<style>
  .responsive-img{
    border-radius: 500px;
  }
</style>*/ -->

  <div class="parallax-container">
     <div class="parallax"><img src="https://cdn.tutsplus.com/photo/uploads/legacy/335_panoramicimages/1.jpg"></div>
   </div>

   <div class="profile-space">
      <!-- <h4> <%= user.local.username || user.facebook.username %> </h4>
      <% if(user.local.name){ %>
         <!-- Locally Stored User -->

         <!-- <p>
             <strong>Name</strong>: <%#= user.local.username %><br>
             <strong>id</strong>: <%#= user._id %><br>
             <strong>email</strong>: <%#= user.local.email %><br>
             <strong>password</strong>: <%#= user.local.password %>
               <div class="row">
                 <div class="col s8">
                   <h5>Description</h5>
                     <p>
                       <%#= user.local.description %>
                     </p>
                     <a class="waves-effect waves-light btn" id="edit-button">Edit Profile</a>
                </div>
              </div>
            </p> -->
         <!-- <%# } else {%>
           <!-- Facebook User -->
           <!-- <p>
               <strong>Name</strong>: <%#= user.facebook.username %><br>
               <strong>id</strong>: <%#= user.facebook.id %><br>
               <strong>email</strong>: <%#= user.facebook.email %><br>
               <strong>token</strong>: <%#= user.facebook.token %>
               <div class="row">
                 <div class="col s8">
                   <h5>Description</h5>
                     <p>
                       <%= user.facebook.description %>
                     </p> -->
                     <!-- <a class="waves-effect waves-light btn" id="edit-button">Edit Profile</a>
                </div>
              </div>
            </p> --> -->
         <!-- <%# } %> --> -->
     <br>
     <br>
     <div class="row">
       <br>
       <div class="col s4 card-panel hoverable center-align">
         <h5>4 Favs</h5>
         <br><br><br><br><br><br><br>
         <div class="">

         </div>
       </div>
       <br>
       <div class="col s12">
          <h5>Biceps Rating</h5>
          <br><br><br><br><br>
       </div>
       <div class="col s12 center-align">
         <h5>Recent SpotBuds</h5>
         <div class="col s3 center-align">Bud 1
           <img src="http://cdn.skim.gs/image/upload/v1456341996/msi/woman-working-out_ountp9.jpg" class="responsive-img">
         </div>
         <div class="col s3 center-align">Bud 2
           <img src="http://cdn.skim.gs/image/upload/v1456341996/msi/woman-working-out_ountp9.jpg" class="responsive-img">
         </div>
         <div class="col s3 center-align">Bud 3
           <img src="http://cdn.skim.gs/image/upload/v1456341996/msi/woman-working-out_ountp9.jpg" class="responsive-img">
         </div>
         <div class="col s3 center-align">Bud 4
           <img src="http://cdn.skim.gs/image/upload/v1456341996/msi/woman-working-out_ountp9.jpg" class="responsive-img">
         </div>
     </div>
   </div>
 </div>
 <div class="parallax-container">
    <div class="parallax"><img src="https://cdn.tutsplus.com/photo/uploads/legacy/335_panoramicimages/1.jpg"></div>
  </div>

   <footer class="page-footer">
             <div class="container">
               <div class="row">
                 <div class="col l6 s12">
                   <h5 class="white-text">Footer Content</h5>
                   <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                 </div>
                 <div class="col l4 offset-l2 s12">
                   <h5 class="white-text">Links</h5>
                   <ul>
                     <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                     <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                     <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                     <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                   </ul>
                 </div>
               </div>
             </div>
             <div class="footer-copyright">
               <div class="container">
               © 2016 Copyright <a href="/map" class="white-text">SpotBuds</a>
               <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
               </div>
             </div>
           </footer>
