
<style>
  /*this styling lets the images be more circular*/
  .responsive-img{
    border-radius: 500px;
  }
</style>

<div class="navbar-fixed">
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="/profile">Profile</a></li>
    <li class="divider"></li>
    <li><a id="edit-profile" href="/profile">Settings</a></li>
    <li class="divider"></li>
    <li><a href="/map">Map</a></li>
    <li class="divider"></li>
    <li><a href="/logout">Logout</a></li>
    <li class="divider"></li>
  </ul>
    <nav>
    <div class="nav-wrapper">
      <a href="/map" class="brand-logo">SpotBuds Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><%= user.local.name || user.facebook.name %><i class="material-icons right"></i></a></li>
      </ul>
    </div>
  </nav>
</div>

  <div class="parallax-container">
     <div class="parallax"><img src="https://cdn.tutsplus.com/photo/uploads/legacy/335_panoramicimages/1.jpg"></div>
   </div>

   <div class="profile-space">

    <h3>Welcome, <%= user.facebook.name ||  user.local.name%></h3>

    <div class="row">
         <div class="col s8" id="description">
           <h5>Description</h5>
               <p>
                 <%= user.description %>
               </p>
          <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Edit Profile</a>
          <!-- Modal Structure -->
              <div id="modal1" class="modal">
                <div class="modal-content">
                  <h4>Edit Your Settings!</h4>
                  <form action="/users/:id" method="patch">
                    <% if(user.local.name){ %>
                      <input id="localName" type="text" name="local[name]">Username
                      <input id="localEmail" type="text" name="local[email]">Email
                      <input id="localPassword" type="text" name="local[password]">Password
                    <% } else {%>
                      <input id="fbName" type="text" name="facebook[name]">Username
                      <input id="fbEmail" type="text" name="facebook[email]">Email
                    <% } %>
                    <input id="Descr" type="text" name="description">Description (Tell us about yourself and the activities you like!)
                  </form>

                </div>
                <div class="modal-footer">
                  <a type="submit" href="/profile" class="modal-action modal-close waves-effect waves-green btn-flat" action="/users/:id" method="PATCH" id="edit-button">Update</a>
                </div>
              </div>
          </div>
       <div class="col s4 card-panel hoverable center-align">
         <h5>4 Favs</h5>
         <br><br><br><br><br><br><br>
         <div class="">

         </div>
       </div>
       <br>
       <div class="col s12">
          <h5>Biceps Rating</h5>
          <br><br><br><br><br>
       </div>
       <div class="col s12 center-align">
         <h5>Recent SpotBuds</h5>
         <div class="col s3 center-align">Bud 1
           <img src="http://cdn.skim.gs/image/upload/v1456341996/msi/woman-working-out_ountp9.jpg" class="responsive-img">
         </div>
         <div class="col s3 center-align">Bud 2
           <img src="http://cdn.skim.gs/image/upload/v1456341996/msi/woman-working-out_ountp9.jpg" class="responsive-img">
         </div>
         <div class="col s3 center-align">Bud 3
           <img src="http://cdn.skim.gs/image/upload/v1456341996/msi/woman-working-out_ountp9.jpg" class="responsive-img">
         </div>
         <div class="col s3 center-align">Bud 4
           <img src="http://cdn.skim.gs/image/upload/v1456341996/msi/woman-working-out_ountp9.jpg" class="responsive-img">
         </div>
     </div>
   </div>
 </div>
 <div class="parallax-container">
    <div class="parallax"><img src="https://cdn.tutsplus.com/photo/uploads/legacy/335_panoramicimages/1.jpg"></div>
  </div>

   <footer class="page-footer">
             <div class="container">
               <div class="row">
                 <div class="col l6 s12">
                   <h5 class="white-text">Footer Content</h5>
                   <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                 </div>
                 <div class="col l4 offset-l2 s12">
                   <h5 class="white-text">Links</h5>
                   <ul>
                     <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                     <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                     <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                     <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                   </ul>
                 </div>
               </div>
             </div>
             <div class="footer-copyright">
               <div class="container">
               © 2016 Copyright <a href="/map" class="white-text">SpotBuds</a>
               <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
               </div>
             </div>

             <div id="user" data-id=<%= user.id %> >

             </div>
           </footer>

<script>
  $(function(){
    console.log("it's working!")
    function updateUser(){
      var userId = ($('#user').data("id"))
      var user = {local: {
          name: $('#localName').val(),
          email:$('#localEmail').val(),
          password: $('#localPassword').val()
        },
        facebook: {
          name:$('#fbName').val(),
          email: $('#fbEmail').val()
        },
        description: $('#Descr').val() }

      $.ajax({
        url: '/users/' + userId,
        method: "PATCH",
        data: JSON.stringify(user),
        contentType: 'application/json'
      }).done(function(data){
        // manipulate DOM to show new status for todo element.
        console.log(data)
      })
    }

    var $editButton = $('#edit-button')
    $editButton.on('click', function(evt){
      console.log()
      updateUser()
    })
  })

    $('#layout-nav').css({'display': 'none'});
</script>
