
<style>
  /*this styling lets the images be more circular*/
  .responsive-img{
    border-radius: 500px;
  }
</style>

<div class="navbar-fixed">
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="/profile">Profile</a></li>
    <li class="divider"></li>
    <li><a id="edit-profile" href="/profile">Settings</a></li>
    <li class="divider"></li>
    <li><a href="/map">Map</a></li>
    <li class="divider"></li>
    <li><a href="/logout">Logout</a></li>
    <li class="divider"></li>
  </ul>
    <nav>
    <div class="nav-wrapper">
      <a href="/map" class="brand-logo">SpotBuds Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><%= user.local.name || user.facebook.name %><i class="material-icons right"></i></a></li>
      </ul>
    </div>
  </nav>
</div>

  <div class="parallax-container">
     <div class="parallax"><img src="https://cdn.tutsplus.com/photo/uploads/legacy/335_panoramicimages/1.jpg"></div>
   </div>

   <div class="profile-space">

    <h3>Welcome, <%= user.facebook.name ||  user.local.name%></h3>

    <div class="row">
         <div class="col s8" id="description">
           <h5>Description</h5>
           <% if(user.local.name){ %>
               <p contenteditable="true">
                 <%= user.local.description %>
                </p>
               <a class="waves-effect waves-light btn" id="edit-button">Edit Profile</a>

          <% } else {%>
               <p contenteditable="">
                 <%= user.facebook.description %>
               </p>
               <a class="waves-effect waves-light btn" id="edit-button">Edit Profile</a>
          <% } %>
          </div>
       <div class="col s4 card-panel hoverable center-align">
         <h5>4 Favs</h5>
         <br><br><br><br><br><br><br>
         <div class="">

         </div>
       </div>
       <br>
       <div class="col s12">
          <h5>Biceps Rating</h5>
          <br><br><br><br><br>
       </div>
       <div class="col s12 center-align">
         <h5>Recent SpotBuds</h5>
         <div class="col s3 center-align">Bud 1
           <img src="http://cdn.skim.gs/image/upload/v1456341996/msi/woman-working-out_ountp9.jpg" class="responsive-img">
         </div>
         <div class="col s3 center-align">Bud 2
           <img src="http://cdn.skim.gs/image/upload/v1456341996/msi/woman-working-out_ountp9.jpg" class="responsive-img">
         </div>
         <div class="col s3 center-align">Bud 3
           <img src="http://cdn.skim.gs/image/upload/v1456341996/msi/woman-working-out_ountp9.jpg" class="responsive-img">
         </div>
         <div class="col s3 center-align">Bud 4
           <img src="http://cdn.skim.gs/image/upload/v1456341996/msi/woman-working-out_ountp9.jpg" class="responsive-img">
         </div>
     </div>
   </div>
 </div>
 <div class="parallax-container">
    <div class="parallax"><img src="https://cdn.tutsplus.com/photo/uploads/legacy/335_panoramicimages/1.jpg"></div>
  </div>

   <footer class="page-footer">
             <div class="container">
               <div class="row">
                 <div class="col l6 s12">
                   <h5 class="white-text">Footer Content</h5>
                   <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                 </div>
                 <div class="col l4 offset-l2 s12">
                   <h5 class="white-text">Links</h5>
                   <ul>
                     <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                     <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                     <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                     <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                   </ul>
                 </div>
               </div>
             </div>
             <div class="footer-copyright">
               <div class="container">
               © 2016 Copyright <a href="/map" class="white-text">SpotBuds</a>
               <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
               </div>
             </div>
           </footer>

<script>
  // $(function(){
  //   console.log("it's working!")
  //
  //   function updateUser(userId){
  //     console.log(userId)
  //     $.ajax({
  //       url: '/api/todos/' + todoId,
  //       method: "PATCH"
  //     }).done(function(data){
  //       // manipulate DOM to show new status for todo element.
  //       console.log(data)
  //     })
  //   }
  // })

    $('#layout-nav').css({'display': 'none'});
</script>
