<style>
  body {
    background-color: black;
    /*background-image: url("/assets/images/Logo-text-white.png");
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-opacity:*/
  }
  #input-login{
    background-color: #d9d9d9;
    /*border-top-right-radius: 20px;
    border-top-left-radius: 20px;*/
    padding-left: 20px;
  }
  .row .col.s4 {
    width: 25%;
    margin-left: 20px;
  }
  .container{
    position: center;
  }
  .my-img img {
    width: 100%;
    position: center;
    /*position: fixed;*/
    opacity: 0.8;
  }
</style>



<div class="container">
  <div class="text-center col-md-8 col-md-offset-2">
    <br>
    <h3>Signup!</h4>
    <br>

    <% if (message.length > 0) { %>
      <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <div class="row">
      <form action="/signup" method="post">
        <div class="row">
          <div class="input-field col s3">
            <input id="username" type="text" class="input">
            <label for="username">Username</label>
          </div>
          <div class="input-field col s3">
            <input id="email" type="email" class="input">
            <label for="email">Email</label>
          </div>

          <div class="row">
            <div class="input-field col s6">
              <input id="password" type="password" class="input">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input id="password_confirm" type="password" class="input">
              <label for="password_confirm">Password Confirm</label>
            </div>
          </div>

<!--~~~~~~~~~~~~~~~~~~ gender options ~~~~~~~~~~~~~~~~~~~~~~~-->
          <div class="row">
            <div class="options">
              <p>
                <input class="with-gap" name="group1" type="radio" id="male"/>
                <label for="male">Male</label>
              </p>
              <p>
                <input class="with-gap" name="group1" type="radio" id="female"/>
                <label for="female">Female</label>
              </p>
              <p>
                <input class="with-gap" name="group1" type="radio" id="other"/>
                <label for="other">Other</label>
              </p>
            </div>
          <button type="submit" class="btn btn-default">Join Us!</button>
          </form>
        </div>
        <hr>
        <h4>Or Login With <a href="/auth/facebook" class="btn btn-primary btn-lg">Facebook</a></h4>
      </div>
    </div>
  </div>
</div>

    <p>Or, <a href="/login">Login</a></p>
    <p>Go back <a href="/">home</a>.</p>

</div>
